# Android Studio
*.iml
.idea/
!.idea/copyright/**
captures/

# VSCode
*.project

# Gradle
.gradle
build/
#ignore build but keep build source code files
!buildSrc/src/**

# Local configuration file (sdk path, etc)
local.properties

# Jacoco
jacoco.exec

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild
.cxx/

# MacOS
.DS_Store
